body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: black;
}

header{
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: #22242A;
    width: 100%;
    height: 70px;
    align-items: center;
}

.left_area{
    display: block;
    height: 30px;
    width: 220vh;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.left_area h3{
    color: rgb(177, 177, 177);
    margin: 5px 10px 5px;
    font-size: 22px;
    letter-spacing: 3px;
}

.left_area span{
    color: #1DC4E7;
    text-transform: uppercase;
    font-weight: 1000;
    text-shadow: 3px 3px 8px rgb(0,0,0,0.5);
}

.right_area{
    float: right;
    margin-top: -30px;
    position: relative;
    display: block;
    text-align: right;
    justify-content: space-around;
    width: 50%;
}

.check{
    display: none;
}

.right_area label{
    z-index: 1;
    margin-right: 20px;
    color: rgb(177, 177, 177);
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s ease;
    transition-property: color;
}

.right_area label:hover{
    color: #117185;
}

.logout_btn{
    text-decoration: none;
    background: #1DC4E7;
    padding: 5px;
    margin-top: -20px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s ease;
    transition-property: background;
}

.logout_btn:hover{
    background: #117185;
}

.sidebar{
    background: #2F323A;
    position: fixed;
    margin-top: 70px;
    padding-top: 30px;
    right: 0;
    width: 240px;
    height: 100%;
    transition: 0.5s ease;
    transition-property: right;
}

.sidebar .stand_img{
    margin-left: 35px;
    margin-bottom: 5px;
    width: 180px;
    height: 180px;
    transition: 0.5s ease;
    transition-property: width, height, margin-left;
}

.sidebar h4{
    text-align: center;
    color: #ccc;
}

.sidebar a{
    color: #fff;
    display: block;
    align-items: column;
    line-height: 60px;
    width: 100%;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    transition: 0.5s ease;
    transition-property: background, font-size, margin-top;
}

.sidebar a:hover{
    background: #117185;
}

.sidebar span{
    padding-left: 8px;
}

section{
    color: #ccc;
    display: grid;
    grid-auto-columns: auto;
    align-items: center;
    justify-items: center;
    font-size: 18px;
}

.report center{
    margin-top: -130vh;
    margin-left: -10%;
    height: 200px;
    width: 350px;
    background-color: rgba(73, 73, 73, 0.322);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0,0,0), 10px 10px 25px rgba(0,0,0,0.8);
    transition: 0.5s ease;
    transition-property: margin-right;
}
.res{
    display: flex;
    text-align: center;
    margin-top: -130vh;
    margin-left: -10%;
    height: 200px;
    width: 350px;
    background-color: rgba(73, 73, 73, 0.322);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0,0,0), 10px 10px 25px rgba(0,0,0,0.8);
    transition: 0.5s ease;
    transition-property: margin-right;
}


center label{
    color: #cecece;
    padding-left: 8px;
    transition: 0.5s ease;
    transition-property: color;
}
center label:hover{
    color: #117185;
}

.name_mask{
    margin: 10px;
}
.name_mask input{
    background-color: rgba(59, 59, 59, 0.7);
    border-radius: 5px;
    border: black;
    color: #cecece;
    font-weight: 800;
    transition: 0.5s ease;
    transition-property: background-color;
    margin-bottom: 15px;
}
.name_mask input:hover{
    background-color: rgba(37, 37, 37, 0.5);
}

.kind_Veh{
    margin: 15px;
}
.kind_Veh select{
    background-color: rgba(59, 59, 59, 0.7);
    border-radius: 5px;
    color: #cecece;
    border: black;
    transition: 0.5s ease;
    transition-property: background-color;
}
.kind_Veh select:hover{
    background-color: rgba(37, 37, 37, 0.5);
}

.date{
    text-align: left;
    margin-left: 29px;
}
.date_mask input{
    margin-top: 8px;
    background-color: rgba(59, 59, 59, 0.7);
    border-radius: 5px;
    border: black;
    font-weight: 800;
    transition: 0.5s ease;
    transition-property: background-color;
}
.date_mask .dt_in{
    color: #cecece;
}
.date_mask .dt_out{
    color: #cecece;
}
.date_mask input:hover{
    background-color: rgba(37, 37, 37, 0.5);
}

.back_img{
    margin-right: 240px;
    background: url(back.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s ease;
    transition-property: margin-right;
}

#check:checked ~ .sidebar{
    right: -180px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    margin-top: 20px;
    font-size: 15px;
    width: 60px;
}
#check:checked ~ .sidebar i{
    margin-left: -8px;
}
#check:checked ~ .sidebar h4{
    display: none;
}
#check:checked ~ .sidebar img{
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
#check:checked ~ .back_img{
    margin-right: 60px;
}
#check:checked ~ .report center{
    margin-right:-10%;
}
#check:checked ~ .report .res{
    margin-right:-10%;
}